@{
    ViewData["Title"] = "Main";
}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">
                        <p>
                            Aju.Carefree 作者：
                            <span class="x-red">AjuPrince</span>
                            <span style="float:right;">
                                当前时间:@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")
                            </span>
                        </p>
                        <p>
                            Aju.Carefree QQ群：
                            <span class="x-red">695058251</span>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">Aju.Carefree 简介</div>
                <div class="layui-card-body">
                    <p>Aju.Carefree 是一套基于.Net Core 2.2 + SqlSugar + Autofac/Aspectcore Framework + Redis + AutoMapper开发出来的框架，所有源码全部开放（GitHub：https://github.com/AjuPrince/Aju.Carefree），让开发人员远离996！</p>
                    <p>后期才采用前后端分离（VUE）来实现，目前不打算搞前后端分离</p>
                    <p>如有任何疑问，可加群（695058251）咨询或者在GitHub上提issue</p>
                </div>
                <div class="layui-card-body">
                    <p>前端框架:</p>
                    <p>X-admin 2.x 、Layui（以及layui的第三方扩展）</p>
                </div>
                <div class="layui-card-body">
                    <p>后端框架:</p>
                    <p>核心框架：.Net Core 2.2</p>
                    <p>持久层框架：SqlSugar</p>
                    <p>IOC：Autofac/Aspectcore Framework</p>
                    <p>DTO：AutoMapper</p>
                    <p>缓存框架：Redis</p>
                    <p>日志管理：NLog</p>
                    <p>工具类：Newtonsoft.Json、验证码、....</p>
                </div>
            </div>
        </div>

        <style id="welcome_style"></style>
        <div class="layui-col-md12">
            <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,jquery,本系统由x-admin提供技术支持。</blockquote>
        </div>
    </div>
</div>